* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
  }


.buttons{
    padding: 6px 5px 0px 0px;  
}
body{
    margin-bottom: 25px;
} 

.homePhoto{
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign{
    width: 250px;
    padding: 10px;
}

.card {
    padding: 0;
    background-color: rgb(238, 238, 238);
    margin:5px 0px;
    min-height: 250px;
}

.table-responsive {
    overflow: visible !important;
    position: static !important;

  }

.advPhoto{
    padding: 0;
    width: 100%;
}
.propertyPhoto{
    padding: 0;
    width: 100%;
    max-height: 600px;
    min-height: 600px;

}
@media only screen and (max-width: 600px) {
    .propertyPhoto{
        width: 100%;
        max-height: 300px;
        min-height: 300px;
    }
}
@media only screen and (max-width: 400px) {
    .propertyPhoto{
        width: 100%;
        max-height: 150px;
        min-height: 150px;
    }
}
