* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
  }

main{
    min-height: 900px;
}
footer {
    background-color: rgb(238, 238, 238);
    height: 300px;
}

.buttons{
    padding: 6px 5px 0px 0px;  
}

.sign{
    width: 250px;
    padding: 10px;
}

.card {
    padding: 0;
    background-color: rgb(238, 238, 238);
    margin:5px 0px;
    min-height: 250px;
}
.table-responsive {
    overflow: visible !important;
    position: static !important;

  }


.advPhoto{
    padding: 0;
    width: 100%;
}
